

#logo-center{
font-family: Impact;
font-size: 16rem;
font-style: normal;
font-variant: normal;
font-weight: bold;
line-height: 34.3px;
margin: 6rem;

}


.input[type=text] {
  width: 130px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

///* When the input field gets focus, change its width to 100% */
//input[type=text]:focus {
//  width: 100%;
//}
//
//#searchBar{
//  margin: 20px;
//}
