
#menuBtn{
  margin-top: 89px;
}


#logo-center{
font-size: 16rem;
line-height: 15rem;
font-weight: bold;
}

#menu{
  position: fixed ;
  right: 0;
  width: 40rem;
  height: 60rem;
  background-color: gray;
}

#searchBar[type=text] {
  width: 130px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

#search {
  position: relative;
  left: 2rem;
  top: 2rem;
}

#bigPhoto{
  position: relative;
  left: 27rem;
  top: 2rem;
}
#btnMenu{
  padding-right: 10%;
}


